
.box
{
	margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
	
	height:800px;
	width:700px;
	
	border-style:solid;
	border-color:coral;
	text-align:justify;
	
}